title
{
    margin-right: 0ch;
}
h1{
    text-align: center;
}
.sub
{
    
    background-color: aqua;
}
.re
{
     background-color: aqua;
}

.img
{
    position: absolute;
   top: 0px;
   right: 30px;
 
}
.form
{
    position: absolute;
    top: 0px;
    right: 30px;
}