.center{
    position: absolute;
    right: 30px;
    top: 0;
    color: blue;
}


.cenr{
    position: absolute;
    right: 50px;
    top: 30px;
    color: black;
}

.cen{
    position: absolute;
    right: 10px;
    top: 50px;
    color: black;
}
p{
font-size: 30px;
}

li{
    font-size: 14px;
}

h2{
    font-size: 32px;
}
h3{
    font-size: 25px;
    color: blue;
}
h4{
    font-size: 25px;
    color: blue;
}
h5{
    font-size: 25px;

}
h6{
    font-size: 25px;
    
}
body{
    background-repeat: repeat;
}
