h1,div{
    color:bisque;
    text-decoration: underline;
    text-transform: uppercase;
}

body{
    background-image:url("Image\\milky-way-2695569_960_720.jpg"); background-repeat: no-repeat; background-size:contain;
    border: 5px solid yellowgreen;
}

img{
    border: 10px solid burlywood;
   align-content:center ;
}

.intro{
    color:blue;
    text-decoration: underline;
    text-transform: uppercase;
}
.classSelector{
     color: brown;
}
#idselector{
    color: aqua;
}                                                       


.boxModel{
    border : 5px dotted orange; 
    padding: 50px;
    margin: 50px;
}

.box{
    border: 10px;
    height: 200px;
    width: 100px;
    display: inline-block;
}

.box .box1{
   border: 10px solid red;
   height: 100px;
   width: 100px;
   float: left;
}

.box2{
    border: 10px solid blue;
    height: 200px;
    width: 100px;
    display: inline-block;
    float: right;
}

.box2 .box3{
    border: 10px;
    height: 500px;
    width: 300px;
    display: inline-block;
    float: right;
}

/* 1. Descedent selector 
div p{
    color: black;
}  

/* 2. Child selector 
div > p{
    color: blueviolet;
}

/* 3. Adjacent silbling Selector  
div + p{
    color: yellowgreen;
}

/* 4. General sibling Selector  */ 
div ~ p{
    color: darkcyan;
}  

.fixed{
    position: fixed;
    top: 0;
    right: 100px;
} 

.relative{
    position: relative;
    /* left: 100px; */
    color: black;
    float: left;
}
 
.absolute{
    position: absolute;
    top: 0px;
    color: darkmagenta ;
    border: 5px solid gold;
}

.imagerelative{
    position: relative;
}
.topleft{
    position: absolute;
    top: 0;
    left: 0;
    color:blue;
}


.topright{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
}

.bottomLeft{
    position: absolute;
    bottom: 0;
    left: 0;
    color: black;
}

.bottomRight{
    position: absolute;
    bottom: 0;
    right: 0;
    color: blueviolet;
}
























/* .box1 {
    border: 1px solid red;
    height: 100px;
    width: 200px;
    display: inline-block;
    float: right;
 }

 .box2 {
    border: 5px solid yellow;
    height: 50px;
    width: 100px;
    display: inline-block; */
 }
 
 